@charset "utf-8";
/* CSS Document */

body
{
	width:1375px;
	height:600px;
	background-image:url(images/background.jpg);
	background-repeat:round;
}

td
{
	color:#FFF;
}

form
{
	margin-top:250px;
}

#title_login
{
	text-decoration:none;
	font-size:64px;
	color:#FFFFFF;
	font-style:bold;
}

#error
{
	color:#FF0000;
}

#logo
{
	width:555px;
	height:100px;
	margin-left:10px;
	background-image:url(../../css/images/bncc_pix.png);
	background-position:left;
	margin-left:300px;
	margin-top:100px;
}

#login
{
	width:555px;
	height:auto;
	color:#000;
	float:left;
	margin-left:400px;
	margin-top:-100px;
}

#header
{
	height:95px;
	margin-top:45px;
	margin-right:750px;
	margin-left:30px;
}